body {
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
h1 {
  color: #FFFAFA;
}
p {
  color: black;
}

/*
filler code till i can sit down and do it myself
*/